services:
   app:
     container_name: ${containerName}
     image: ${DOCKER_HUB_CRED_USR}/${toRepositoryName}:$${BUILD_NUMBER}
     environment: #run time arguments
       - env=${environ}
     build:
        args:  #these args are available during build time
           - env=${environ}
        context: ../
        dockerfile: docker/Dockerfile
     ports:
       - ${appPort}:${containerPort}