
    server{
        listen      8083;
        server_name localhost;

        root html/prod;

        location /assets/ {
         autoindex on;
        }

        location / {
        try_files $uri $uri/index.html =404;
        # root html/prod;
        # index index.html;

        }
        error_page  404              /index.html;

    }

    server {
        listen       8082;
        server_name  localhost-dev;

        root html/dev;

        location /assets/ {
         autoindex on;
        }

        location / {
        try_files $uri $uri/index.html =404;
        # root html/dev;
        # index index.html;

        }

        error_page  404              /index.html;

    }  

