
    server{
    listen 8083;
    server_name localhost;
    default_type application/octet-stream;

    gzip                    on;
    gzip_comp_level         6;
    gzip_vary               on;
    gzip_min_length         1000;
    gzip_proxied            any;
    gzip_types              text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers            16 8k;
    client_max_body_size    256M;

    root /usr/share/nginx/html/prod;

        location /assets/ {
         autoindex on;
        }

        location / {
        try_files $uri $uri/index.html =404;
        }
        error_page  404              /index.html;

    }

    server {
        listen       8082;
        server_name  localhost-dev;
        default_type application/octet-stream;

    gzip                    on;
    gzip_comp_level         6;
    gzip_vary               on;
    gzip_min_length         1000;
    gzip_proxied            any;
    gzip_types              text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers            16 8k;
    client_max_body_size    256M;

    root /usr/share/nginx/html/dev;

        location /assets/ {
         autoindex on;
        }

        location / {
        try_files $uri $uri/index.html =404;
        }

        error_page  404              /index.html;

    }  

